
* {
    background:#2D2D2D;
    font-family: 'Monospace', monospace, 'Courier New';
    margin: 0;
    padding: 0;
}

#HomePage {
    width: 1440px;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: absolute;
    top: 0px;
    left: 0px;
}

.window-body {
    background: black; 
    width: 1180px;
    height: 920px; 
    left: 260px; 
    top: 104px; 
    position: absolute; 
}

.window-page {
    background: black;
    width: 1024px;
    height: 780px;
    border-radius: 50px;
    position: absolute;
    top: 78px;
    left: 70px;
}

.page-content {
    background: black;
}

.navbar-vertical {
    background: #2D2D2D;
    width: 260px;
    height: 1024px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
}

.navbar-logo {
    background: #2D2D2D;
    width: 180px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 22.5px 40px 22.5px 40px;
}

.nav-link {
   background: #2D2D2D;
   font-size: 32px;
   font-family:monospace;
   text-align: center; 
   color: #00FFFF;
   font-weight: 700;
   text-decoration: none;
   width: 224px;
   height: 40px;
   word-wrap: break-word;
   margin: 100px 0px 0px 0px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.158);
    color: whitesmoke;
}

.navbar-horizontal {
    background: #2D2D2D;
    width: 1180px;
    height: 105px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: absolute;
    flex-direction: row;
    top: 0px;
    left: 260px;
    color: white;
}

.avatar-icon {
    background: #2D2D2D;
    width: 30px;
    height: 30px;
    display: inline-flex;
    position: absolute;
    border-radius: 30px;
    top: 40px;
    left: 70px;
}

.username-display {
    background: #2D2D2D;
    color: white;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
    width: 200px;
    height: 26px;
    word-wrap: break-word;
    position: absolute;
    top: 45px;
    left: 120px;
}

.home-icon, .language-icon, .settings-icon, .logout-icon {
    width: 30px;
    height: 30px;
    position:absolute;
    top:40px;
}

.home-icon {
    left: 760px;
}

.language-icon {
    left: 860px;
}

.settings-icon {
    left: 960px;
}

.logout-icon {
    left: 1060px;
}

